/target
*.log
config.yml
config.*.yml
!examples/config.yaml
*.db
.idea
Dockerfile
pixiv-ajax-response.json
README.md
.editorconfig
sqlite
docker-compose.yml
docker-compose.*.yml
# for testing
wallpapers
